<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>
            {% block title %}Мой сайт
            {% endblock %}
        </title>
    </head>

    <body>
        <header>
            <h1>Заголовок сайта</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            &copy; 2025
        </footer>
    </body>
</html>
